<div class="div_esquerda">
    <div class="div_esquerda_interna">
        <h1>Seja bem vindo!</h1>
        <p>Se você ja possui conta, clique no botão a baixo para entrar</p>
        <button  mat-icon-button  routerLink="/login">Entrar</button> 
    </div>
</div>
<div class="div_direita">
    <div class="div_direita_interna">
        <form [formGroup] = "form">
            <h1>Cadastrar-se</h1>
            <ng-container *ngIf="erro">
                <div class="div_erro">
                    Preencha o formulario corretamente!
                </div>
            </ng-container>
            <mat-form-field appearance="fill">
                <mat-label>Nome completo</mat-label>
                <input matInput type="text" formControlName = "nome">
                <button mat-button *ngIf="username" matSuffix mat-icon-button aria-label="close" (click)="username=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Nome de usuario</mat-label>
                <input matInput type="text" formControlName = "username">
                <button mat-button *ngIf="username" matSuffix mat-icon-button aria-label="close" (click)="username=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Entre com a sua senha</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName = "senha">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Data de nascimento</mat-label>
                <input matInput [matDatepicker]="picker" formControlName = "dataNascimento"> 
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Periodo</mat-label>
                <input matInput type="number" min="1" max="14" formControlName = "periodo">
                <button mat-button *ngIf="username" matSuffix mat-icon-button aria-label="close" (click)="username=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Curso</mat-label>
                <mat-select formControlName = "curso" required>
                  <mat-option *ngFor="let curso of cursos" [value]="curso">
                    {{curso.nomeCurso}}
                  </mat-option>
                </mat-select>
            </mat-form-field>    
        </form>
        <button  mat-icon-button (click)="cadastrarUsuario()">Cadastrar-se</button>
    </div>
</div>
