<div class="div_esquerda">
    <div class="div_esquerda_interna">
        <h1>Conecte-se</h1>
        <ng-container *ngIf="erro">
            <div class="div_erro">
                {{mensagem_erro}}
            </div>
        </ng-container>

        <ng-container *ngIf="sucess">
            <div class="div_sucess">
                {{mensagem_sucess}}
            </div>
        </ng-container>

        <form [formGroup] = "form">
            <mat-form-field appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput type="text" formControlName = "username">
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Senha</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName = "senha" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </form>
        <button mat-button (click)="efetuarLogin()">Entrar</button>
    </div>
</div>
<div class="div_direita">
    <div class="div_direita_interna">
        <h1>Seja bem vindo!</h1>
        <p>Se você não possui conta, clique no botão a baixo para cadastrar-se.</p>
        <button  mat-icon-button  routerLink="/cadastro">Cadastrar-se</button> 
    </div>
</div>